# Entorno virtual
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Pruebas y calidad
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Variables y credenciales
.env
.env.*

# Sistema operativo
.DS_Store
Thumbs.dbdata/raw/
